<div class="container">
    <h1>Selection</h1>
    <div>
      <button
        (click)="onSubmitRock()"
        type="submit" 
        class="btn btn-success" >
          Rock
      </button>
      <button
        (click)="onSubmitPaper()"
        type="submit" 
        class="btn btn-success" >
          Paper
      </button>
      <button
        (click)="onSubmitScissors()"
        type="submit" 
        class="btn btn-success" >
          Scissors
      </button>
    </div>
    <div *ngIf="playResult">
      <ul style="list-style-type:none">
        <li><label>Round: {{roundId}}</label></li>
        <li><label >Result: {{resultMove}}</label></li>
        <li>
          <label>Player Move: {{playerMove}}</label>
          <img [src]="playerImagePath"  class="resize">
        </li>
        <li>
          <label >Comp Move: {{compMove}}</label>
          <img [src]="compImagePath"  class="resize">
        </li>
      </ul>  
    </div>
</div>