<div class="container">
    <h1>Selection</h1>
    <div *ngIf="playResult">
      <label>Results!</label>
      
          <label>Player Move: {{playerMove}}</label>
          <label >Comp Move: {{compMove}}</label>
          <label >Result: {{resultMove}}</label>
    </div>
    
    <form>
    <ul>
      <li>
      <button
        (click)="onSubmitRock()"
        type="submit" 
        class="btn btn-success" >
          Rock
      </button>
        </li>
        <li>
      <button
        (click)="onSubmitPaper()"
        type="submit" 
        class="btn btn-success" >
          Paper
      </button>
        </li>
        <li>
      <button
        (click)="onSubmitScissors()"
        type="submit" 
        class="btn btn-success" >
          Scissors
      </button>
        </li>
    </ul>
    </form>
</div>