<div class="container">
    <h1>Selection</h1>
      <label>{{title}}</label>
    <div *ngIf="playResult">
          <li >{{playResult.playerMove}}</li>
          <li >{{playResult.compMove}}</li>
          <li >{{playResult.playerWin}}</li>
    </div>
    
    <form>
    <ul>
      <label>Results!</label>
      <li >{{title}}</li>
      
      <label>Results Bottom!</label>
        
      <li>
      <button
        (click)="onSubmitRock()"
        type="submit" 
        class="btn btn-success" >
          Rock
      </button>
        </li>
        <li>
      <button
        (click)="onSubmitPaper()"
        type="submit" 
        class="btn btn-success" >
          Paper
      </button>
        </li>
        <li>
      <button
        (click)="onSubmitScissors()"
        type="submit" 
        class="btn btn-success" >
          Scissors
      </button>
        </li>
    </ul>
    </form>
</div>